[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bandit = "*"
black = "==20.8b1"
setuptools = "*"
pep517 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[packages]
pygobject = "*"
elevate = "*"

[packages.e1839a8]
path = "."
editable = true
